node_modules
dist
.DS_Store
*.local
.env
.cursor
playwright-report
test-results
lusion.co
lusion.co.zip
lusion-page.html
rive-page.html
/earth_card.buf
*.gif
ffb45ef6-942b-40f4-9c84-00c5968cb44a-1_all_8306.jpg
public/videos/
Vaibhav_Gupta_Resume.pdf
tsconfig.tsbuildinfo
.vercel
